body {
    background-color: #1f1b24 !important;
    padding: 0;
    margin: 0;
}

.signup__section {
    background: #121212;
    box-shadow: 0 0px 3px #BB86FC;
    margin-top: 15vh;
    box-sizing: border-box;
    padding: 3rem;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 25px;
}

form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.form__div label {
    padding: 2px;
    margin-bottom: 1vh;
    color: #c4c4c4;
}

.form__div input {
    border-radius: 40px;
    height: 2rem;
    width: 80%;
    text-align: center;
}

.form__div input:active {
    border: 0.8px solid #BB86FC;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

*:focus {
    outline: none;
}

.submit__btn {
    background-color: #BB86FC;
    border: 0.8px solid rgb(58, 58, 58);
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    border-radius: 45px;
    transition: 1s;
    font-size: 0.8rem;
    margin-top: 2vh;
}

.signup__section>div {
    color: rgb(180, 178, 178);
    font-style: italic;
    text-align: center;
    margin-top: 3vh;
    font-size: 1rem;
}

.link__div>a {
    color: #BB86FC;
}

.link__div>a:hover {
    text-decoration: underline;
}

.user-message {
    margin-bottom: 2vh;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
    color: rgb(58, 58, 58) !important;
}

.user-message--error {
    border-color: rgb(231, 93, 93);
    background: rgb(255, 176, 176);
    color:rgb(231, 93, 93);
}