<header class="main-header">
	<div class="header__div1">
		<div class="sfit__logo">
			<img src="/sfitlogo.png" />
		</div>
		<h1>SFIT -</h1>
		<h2>Virtual Library</h2>
	</div>
	<div class="header__div2">
		<a href="/">Home Page</a>
	</div>
</header>
