<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/signup_login.css" />
    <link rel="stylesheet" href="/includes/header.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <section class="signup__section">
            <form action="/client/login" method="post">
                <div class="form__div">
                    <label for="email-Id"><b>Email-Id / PID</b></label>
                    <input type="text" name="uname" required />
                </div>
                <div class="form__div">
                    <label for="password"><b>Password</b></label>
                    <input type="password" name="password" required minlength="8" maxlength="15" />
                </div>
                <div class="form__div">
                    <button type="submit" class="submit__btn">Login</button>
                </div>
            </form>
            <div class="link__div">
                Don't have an account ? <a href="/client/usersignup">Sign-up</a>
            </div>
        </section>
</body>

</html>