<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="home.css" />
		<title><%= pageTitle %></title>
	</head>
	<body>
		<header class="main-header">
			<div class="header__div1">
				<h1>SFIT -</h1>
				<h2>Virtual Library</h2>
			</div>
			<div class="header__div2">
				<a>Admin Login</a>
			</div>
		</header>

		<section class="user__links">
			<div>
				<a href="/client/usersignup" class="a__user" >
					User Sign Up
				</a>
			</div>
			<div>
				<a href="/client/userlogin"  class="a__user">
					User Log In
				</a>
			</div>
		</section>
	</body>
</html>
