<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Sidebar Menu For Mobile</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
    <link rel="stylesheet" type="text/css" href="includes/header.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <%- include("./includes/header.ejs") %>
        <section class="user__links">
            <div>
                <a href="/client/usersignup" class="user_options"> User Sign Up </a>
            </div>
            <div>
                <a href="/client/userlogin" class="user_options"> User Sign In </a>
            </div>
        </section>
        <div class="info">
            <p>

                The Library Automation System is a project aimed at developing a computerized system to
                automate all the daily tasks of the library with minimal human intervention.
            </p>
        </div>
</body>

</html>