body {
    background-color: #121212 !important;
    padding: 0;
    margin: 0;
}


.user_home {
    background: #1f1b24;
    box-shadow: 0 0px 6px #BB86FC;
    margin-top: 15vh;
    box-sizing: border-box;
    padding: 3rem;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_element{
    margin: 3vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_options{
    color: #c4c4c4;
    text-decoration: none;
    border: 1px solid #c4c4c4;
    padding: 1vh 3vw;
    width: 60%;
    text-align: center;
    border-radius: 10px;
}