body {
	background-color: rgb(39, 39, 39);
	padding: 0;
	margin: 0;
}


/* user elements start */
.user_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: rgb(36, 35, 35);
	text-decoration: none;
	cursor: pointer;
}
.user_options:hover,
.user_options:active {
	border: 0.8px solid rgb(58, 58, 58);
	background-color: rgb(32, 172, 194);
	color: rgb(46, 45, 45);
	transition: 0.5s;
	border-radius: 2rem
}

.user_element {
	margin-top: 5rem;
} 

.user_options {
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	padding: 1rem;
	margin: 2rem;
	font-size: 1.5rem;
	background-color: rgb(13, 118, 134);
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 1rem 0rem 1rem 0;
	transition: 0.2s;
	margin-top: 20px;
	
}

