body {
	background-color: rgb(39, 39, 39);
	padding: 0;
	margin: 0;
}

.user_barcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vh;
}

.user_barcode > img {
    height: 35vh;
}

.info {
    margin-top: 40vh;
    color: #d3d0d0;
    font-style: italic;
    font-size: 1rem;
    text-align:center;
    padding: 0 5vw;
}