body {
    background: #121212;
}

/* section  */
.a_user {
    color: rgb(224, 224, 224);
    text-decoration: none;
    padding: 1rem;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 25px;
}

.a_user:hover {
    color: rgb(36, 35, 35);
    text-decoration: none;
    cursor: pointer;
}

.a__user:hover,
.a__user:active {
    border: 0.8px solid rgb(58, 58, 58);
    background-color: #205295;
    transition: 0.2s;
    border-radius: 1.5rem 0rem 1.5rem 0;
}

.user__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #262626;
    margin: 15vh 10vw;
    border-radius: 20px;
}

.user__links>div {
    padding: 2rem;
}

.info {
    margin-top: 8rem;
    color: #262626;
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
    padding: 0 5vw;
}