/* *, html, body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: aquamarine;
} */

body {
    background-color: aquamarine;
    padding: 0;
    margin: 0;
}


/****************************** header *********************/
.main-header {
    height: 130px;
    width: 100%;
    background-color: red;
    padding: 0;
}

h1 {
    color: black;
    font-size: 80px;
    margin: 0;
    
}
.name {
    margin: 0px auto auto 5px;
}