body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #BB86FC;
    height: 7vh;
    text-align: center;
}

header .logo {
    color: #c89bfa;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    margin-left: 1.5vw;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
	color: rgb(224, 224, 224);
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #fff;
    background: #2196f3;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.logout_form > button {
    width: 100vw;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-toggle {
    color: #c89bfa;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    height: 100%;
}

@media (max-width: 60rem) {
    header {
        padding: 0 20px;
    }

    header>.logo {
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}